* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141922;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  height: 100vh;
}

/* MIX */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}
/* /MIX */


/* main */
main {
  display: flex;
  height: calc(100% - 80px);
}

/* aside */
aside {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  padding: 10px 10px 0 15px;
}

aside a {
  color: #666666;
}

aside a:hover {
  color: #fff;
}

.spotify__logo img {
  width: 60%;
}

.spotify__main_nav {
  margin: 15px 0 20px 0;
}

.main_nav__list li {
  display: flex;
  align-items: center;
}

.main_nav__list li a{
  font-size: 13px;
}

.aside__ico {
  width: 30px;
  opacity: 0.7;
}

.spotify__playlist {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.playlist__create {
  margin: 10px 0;
}

.playlist_add {
  display: inline-block;
  background-color: #a3a3a3;
  color: #000;
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
}

.playlist__list {
  height: 70%;
  overflow: auto;
}


hr {
  width: 80%;
  margin: 10px auto;
}

.aside__bottom {
  margin-top: auto;
  background-color: #000;
}

.install {
  display: flex;
  align-items: center;
}
/* /aside */

/* spotify inner */
.spotify__inner {
  background-color: #B5EAD7;
  width: calc(100% - 250px);
  position: relative;
}

.upgrade {
  background-color: rgba(255, 250, 182, .5);
  height: 60px;
  position: fixed;
  left: 250px;
  top: 0;
  right: 0;
  z-index: 12;
}
/* /spotify inner */
/* /main */

/* footer */
footer {
  background-color: #C7CEEA;
  height: 80px;
}
/* /footer */

/* RESPONSIVE */

/* /RESPONSIVE */
