* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141922;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  height: 100vh;
}

/* MIX */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#fff;
}

.text-uppercase {
  text-transform: uppercase;
}

.p_left {
  padding-left: 15px;
}
/* /MIX */

/* TYPO */
h3 {
  font-size: 18px;
  margin: 10px;
}

h4 {
  font-size: 13px;
  opacity: 0.4;
}

h5 {
  font-size: 13px;
  opacity: 0.4;
  margin-top: 10px;
}
/* /TYPO */

/* BUTTONS */
.btn {
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-right: 20px;
  transition: .6s;
}

.btn:hover {
  transform: scale(1.1);
}

/* /BUTTONS */



/* main */
main {
  display: flex;
  height: calc(100% - 80px);
}

/* aside */
aside {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  padding-top: 15px;
}

.logo__small {
  display: none;
}

aside a {
  color: #666666;
  transition: .4s;
}

aside a:hover {
  color: #fff;
}

.spotify__logo .logo__big {
  width: 55%;
}

.spotify__main_nav {
  margin: 15px 0 20px 0;
}

.main_nav__list li {
  display: flex;
  align-items: center;
}

.main_nav__list li a{
  font-size: 13px;
}

.main_nav__list li:first-of-type {
  border-left: 3px solid #a0ec2e;
}

.aside__ico {
  width: 30px;
  opacity: 0.7;
}

.playlist_top {
  height: 80px;
}

.spotify__playlist {
  height: calc(100% - 80px);
  overflow: hidden;
}

.playlist__create {
  margin: 10px 0;
}

.playlist_add {
  display: inline-block;
  background-color: #a3a3a3;
  color: #000;
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
}

.playlist__list {
  height: 70%;
  overflow: auto;
}

.install {
  display: flex;
  align-items: center;
}

.install__link {
  font-size: 12px;
  font-weight: bold;
}

.download__ico {
  width: 15px;
  margin-right: 10px;
}

hr {
  width: 90%;
  margin: 10px 0;
  opacity: 0.7;
}

.aside__bottom {
  margin-top: auto;
  background-color: #000;
}

.spotify__account {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile__ico {
  width: 20px;
  height: auto;
  border-radius: 50%;
  background-color: #a3a3a3;
  margin-right: 10px;
}
/* /aside */

/* spotify inner */
.spotify__inner {
  background-color: #141922;
  width: calc(100% - 250px);
  margin-top: 60px;
  padding: 0 20px;
  position: relative;
  overflow: auto;
}

.upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  height: 60px;
  position: fixed;
  left: 250px;
  top: 0;
  right: 0;
  z-index: 12;
}

.spotify_inner__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

.inner__menu {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.inner__menu li a {
  padding: 0 10px;
  font-size: 12px;
  opacity: .7;
  transition: .4s;
}

.inner__menu li a:hover {
  opacity: 1;
}

.inner__menu li:first-of-type::after {
  content: "";
  display: block;
  background-color: #a0ec2e;
  height: 2px;
  width: 30%;
  margin: 5px auto;
}

.row__albums {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

.row__title {
  margin-bottom: 20px;
}

.albums.recently_played {
  display: flex;
  justify-content: space-between;
}

.album.recently {
  text-align: center;
  flex-basis: calc( (100% / 6) - 20px);
}

.album img {
  width: 100%;
}

.album__img {
  position: relative;
}

.albums {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* background-color: lime; */
}

.album {
  text-align: center;
  flex-basis: calc( (100% / 6) - 20px);
  margin-right: 20px;
}

.play {
  display: none;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
}

.play .play__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.album:hover .play{
  display: block;
  cursor: pointer;
}

.album-rounded {
  border-radius: 50%;
  overflow: hidden;
}

/* /spotify inner */
/* /main */

/* footer */
footer {
  background-color: #C7CEEA;
  height: 80px;
}
/* /footer */

/* RESPONSIVE */
@media screen and (max-width: 576px) {
  aside {
    width: 60px;
  }
  .mobile-hidden {
    display: none;
  }

  .logo__small {
    display: block;
    width: 30px;
    height: 30px;
  }

  .upgrade {
    left: 60px;
  }
}
/* /RESPONSIVE */
