* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141922;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  height: 100vh;
}

/* MIX */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#fff;
}

.text-uppercase {
  text-transform: uppercase;
}

.p_left {
  padding-left: 15px;
}
/* /MIX */

/* TYPO */
h3 {
  font-size: 18px;
  padding-top: 10px;
}

h4 {
  font-size: 13px;
  opacity: 0.4;
  padding-top: 10px;
}

h5 {
  font-size: 13px;
  opacity: 0.4;
  margin-top: 10px;
}

h6 {
  font-size: 13px;
  color: #fff;
}
/* /TYPO */

/* BUTTONS */
.btn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-aside {
  color: #666666;
}

.btn-aside:hover {
  color: #fff;
}

.btn-upgrade {
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-right: 20px;
  transition: .6s;
}

.btn-upgrade:hover {
  transform: scale(1.1);
}

/* /BUTTONS */



/* main */
main {
  display: flex;
  height: calc(100% - 80px);
}

/* aside */
aside {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  padding-top: 15px;
  font-weight: 500;
}

.mobile-visible,
a.mobile-visible,
button.btn.install.mobile-visible {
  display: none;
}

aside a {
  display: inline-block;
  vertical-align: middle;
  color: #666666;
  transition: .4s;
}

.main_nav__list li:hover .aside__ico,
aside a:hover {
  opacity: 1;
  color: #fff;
}

.logo__big {
  width: 55%;
}

.spotify__main_nav {
  margin: 15px 0 20px 0;
}

.main_nav__list li {
  margin: 5px 0;
}

.main_nav__list li a{
  line-height: 30px;
  font-size: 13px;
}

.main_nav__list li {
  margin-left: 3px;
}

.main_nav__list li:hover  {
  border-left: 3px solid #a0ec2e;
  margin-left: 0;
}

.aside__ico {
  width: 30px;
  opacity: 0.7;
  margin-right: 5px;
  vertical-align: middle;
}

.playlist_top {
  height: 80px;
}

.playlist_top h5 {
  color: #fff;
  opacity: 1;
}

.spotify__playlist {
  height: calc(100% - 80px);
  overflow: hidden;
}

.playlist__create {
  margin: 10px 0;
}

.btn-create::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f067";
  display: inline-block;
  background-color: #a3a3a3;
  color: #000;
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.playlist__list {
  height: 70%;
  overflow: auto;
}

.playlist__create:hover .btn-create::before  {
  background-color: #fff;
}

.list li {
  margin: 10px 0;
  font-size: 13px;
}

.install {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.download__ico {
  width: 20px;
  margin-right: 10px;
  opacity: 0.5;
}

.aside__bottom button:hover .download__ico{
  opacity: 1;
}

hr {
  width: 90%;
  margin: 10px 0;
  opacity: 0.7;
}

.aside__bottom {
  margin-top: auto;
  background-color: #000;
  flex-shrink: 0;
}

.spotify__account {
  margin-bottom: 10px;
}

.profile__ico {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #a3a3a3;
  margin-right: 10px;
  vertical-align: middle;
}

.account-name {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle;
}

.account-name p {
  display: inline-block;
}
/* /aside */

/* spotify inner */
.spotify__inner {
  background-color: #141922;
  width: calc(100% - 250px);
  margin-top: 60px;
  padding: 0 20px;
  position: relative;
  overflow: auto;
}

.upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  height: 60px;
  position: fixed;
  left: 250px;
  top: 0;
  right: 0;
  z-index: 12;
}

.spotify_inner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

.inner__albums {
  display: flex;
  flex-direction: column;
}

.inner__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  height: 31px;
  transition: all 0.7s;
}

.inner__menu li a {
  padding: 0 10px;
  font-size: 12px;
  opacity: .7;
  transition: .4s;
}

.inner__menu li a:hover {
  opacity: 1;
}

.inner__menu li:hover::after {
  content: "";
  display: block;
  background-color: #a0ec2e;
  height: 2px;
  width: 30%;
  margin: 5px auto;
}

.row__albums {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

.row__title {
  margin: 20px 0;
}

.albums {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.album {
  text-align: center;
  flex-basis: calc( (100% / 6) - 20px);
  margin-right: 20px;
}

.album img {
  width: 100%;
  display: block;
}

.album__img {
  position: relative;
}

.album__img::after {
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  opacity: 0;
  cursor: pointer;
}

.album:hover .album__img::after {
  opacity: 1;
}

.album-rounded {
  border-radius: 50%;
  overflow: hidden;
}

/* /spotify inner */
/* /main */

/* footer */
footer {
  background-color: #282828;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 150;
}

footer a:hover {
  color: #fff;
}

.current_track {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  color: #666666;
}

.playing_track {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 10px;
}

.track_image {
  width: 30%;
}

.track_image img {
  width: 100%;
}

.track_name {
  width: 70%;
  padding-left: 10px;
}

.track_name p {
  font-size: 10px;
}

.track_save {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.track_save a {
  width: 50%;
  color: #666666;
}

.track_save a:first-of-type {
  transition: all 0.4s;
}

.track_save .heart {
  position: relative;
}

.track_save .heart::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.track_save:hover .heart::after{
  opacity: 1;
}

.track_tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;

}

.track_tools > a {
  margin: 0 10px;
}

.volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 10px;
}

.volume > i {
  transition: all 0.3s;
}

.volume > i:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.track__bar,
.volume__bar {
  height: 4px;
  width: 80%;
  border-radius: 10px;
  background-color: #666666;
  position: relative;
  cursor: pointer;
}

.track__bar::after,
.volume__bar::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 30%;
  border-radius: 10px;
  background-color: #fff;
}

.track__bar:hover::after,
.volume__bar:hover::after{
  background-color: #a0ec2e;
}

.track_drag,
.volume_drag {
  position: absolute;
  top: 50%;
  left: calc( 30% - 8px );
  transform: translateY(-50%);
  font-size: 16px;
  z-index: 15;
  display: none;
}

.track__bar:hover .track_drag,
.volume__bar:hover .volume_drag {
  display: block;
}

.track_management {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  width: 50%;
}

.track_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.track_buttons li{
  margin: 0 10px;
}

.track_buttons li i {
  transition: all 0.3s;
}

.track_buttons li:nth-of-type(3) i{
  font-size: 30px;
}

.track_buttons li i:hover {
  transform: scale(1.2);
}

.track_status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.track_status p {
  font-size: 10px;
}
/* /footer */

/* RESPONSIVE */
/* <1100px */
@media screen and (max-width: 1100px) {
  .albums {
    flex-wrap: wrap;
  }

  .album {
    flex-basis: calc( (100% / 4) - 20px);
  }
}
/* /<1100px */

/* <992px */
@media screen and (max-width: 992px) {
  h3 {
    font-size: 15px;
  }
  .album {
    flex-basis: calc( (100% / 2) - 20px);
  }

  .track_save a {
    width: 100%;
  }
}
/* /<992px */


/* <768px */
@media screen and (max-width: 768px) {
  aside {
    width: 60px;
    align-items: center;
  }

  .p_left {
    padding-left: 0;
  }

  .mobile-visible,
  a.mobile-visible,
  button.btn.install.mobile-visible {
    display: block;
  }

  .mobile-hidden {
    display: none;
  }

  .main_nav__list li:first-of-type {
    border-left: none;
  }

  .main_nav__list li {
    margin-left: 3px;
  }

  .logo__small {
    display: block;
    width: 30px;
    height: 30px;
  }

  .download__ico {
    margin: 0 0 0 -3px;
  }

  .profile__ico {
    margin-right: 0;
  }

  .upgrade {
    left: 60px;
  }

  .spotify__inner {
    width: calc( 100% - 60px);
  }

  footer {
    flex-wrap: wrap;
    align-content: space-evenly;
  }

  .current_track {
    display: flex;
    justify-content: center;
  }

  .track_management {
    width: 100%;
    order: -1;
  }

  .current_track, .track_tools {
    width: 50%;
  }

  .playing_track {
    width: 40%;
  }

  .playing_track img {
    width: 20%;
  }

  .track_name a h6 {
    font-size: 10px;
  }

  .track_name a p {
    font-size: 7px;
  }

  .track_status {
    justify-content: space-around;
    width: 80%;
  }

  .track_buttons li i {
    font-size: 10px;
  }

  .track_buttons li:nth-of-type(3) i {
    font-size: 16px;
  }

  .track__bar, .volume__bar {
    height: 2px;
  }

  .volume__bar {
    width: 60%;
  }

  .track_save {
    width: 15%;
  }

  .track_save a {
    width: 50%;
    font-size: 10px;
  }

  .track_tools {
    justify-content: center;
  }

  .volume {
    justify-content: space-around;
    width: 30%;
  }

  .track_tools a {
    font-size: 10px;
  }
}
/* /<768px */

@media screen and (max-width: 576px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 10px;
  }

  h4 {
    font-size: 9px;
  }

  h5 {
    font-size: 10px;
  }

  .track_save a {
    display: none;
  }

  .track_tools > i {
    display: none;
  }
}
/* /RESPONSIVE */
